# Python cache
__pycache__/

# PDF files
*.pdf
!custom_font_generator/static/handwrite_template.pdf

# Uploaded fonts (runtime)
fonts/uploads/

# Environment file
.env

# Setup folder
setup/

# App icons
*.ico

dist/
build/
